body {
	font-family: Consolas;
	color: #BDC7C1;
	background: #142634;
}
a {
	color: #D48872;
}
div.title {
	font-size: 300%;
	font-weight: bold;
	width: 100%;
	text-align: center;
}
div.header {
	font-size: 150%
	width: 100%;
	text-align: center;
}
div.sections {
	width: 70%;
	margin: auto;
}
div.sectionHead {
	padding-left: 5%;
}
div.sectionText {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 20px;
}
div.footer {
	text-align: center;
}