Configuration Tool/bin/*
Configuration Tool/obj/*
.vs/*
Configuration Tool/Configuration Tool.csproj.user
Scoring Report/bin/*
Scoring Report/obj/*
Scoring Report/Scoring Report.csproj.user
Installer/Debug/*
Installer/Release/*
Output/*
Translation Editor/bin/*
Translation Editor/obj/*
Translation Editor/Translation Editor.csproj.user